<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body onload="focusInput();">
    <h1>Signup</h1>
    <hr>

    <form th:action="@{/user/signup}" method="post">
        <input type="text" id="email" name="email" placeholder="이메일 입력해주세요">
        <input type="password" name="password" placeholder="비밀번호">
        <button type="submit">Signup</button>
    </form>
    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
    <script>
        function focusInput() {
            //alert("signup");
            document.getElementById("email").focus();
        }
    </script>

</body>
</html>